{% extends 'mytemplate.jinja2' %}
{% block content %}
    <form method="post">
        <h1>Регистрация</h1>
        <p><b class="text">Введите имя:</b><br>
            <input type="text" class="input" size="40" name="name">

        <p>
            <select id="cities" class="select" name="city">
                <option>Выберите Город</option>
                {% for city in cities %}
                    <option value={{ city.id }} > {{ city.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p><b class="text">Введите номер телефона:</b><br>
            <input type="text" class="input" size="40" name="phone">
        <p><b class="text">Введите email:</b><br>
            <input type="text" class="input" size="40" name="email">

        <p><b class="text">Введите пароль:</b><br>
            <input type="password" class="input" size="40" name="password">
            <Br><input type="submit" class="button" value="Зарегистрироваться">
    </form>
    {% if failed_attempt %}
        <h3>Такой пользователь уже существует,</h3>
        <h3>или не все поля заполнены</h3>
    {% endif %}

{% endblock %}